@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  position: relative;
}

/* Standart Object */
.btn {
  width: 200px;
  height: 58px;
  border-radius: 50px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #000;
}

.btn:active {
  transform: scale(0.9);
}

.title {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 79px;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__contact {
  background-color: #000;
  padding: 7px 0;
}

.header__contact-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__phone {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: #f64a5f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__phonenumber {
  padding-left: 10px;
}

.header__social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90px;
  width: 100%;
}

/* font-family: 'PT Serif', serif; */

.header__logo {
  font-family: "PT Serif", serif;
  font-size: 35px;
  font-weight: bold;
  margin-top: 30px;
}

.header__logosvg {
  width: 60px;
}

.header__menu {
}

.header__items {
  margin-top: 45px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  max-width: 455px;
  width: 100%;
}

.header__item {
  list-style-type: none;
}

.header__link {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.promo {
  background-image: url("./images/header.jpg");
  background-color: #f3f4f6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__inner {
  padding-bottom: 245px;
}

.promo__title {
  margin: 0;
  padding-top: 240px;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 79px;
  max-width: 640px;
}

.promo__text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  max-width: 540px;
  margin: 20px 0 60px 0;
}

.promo__btn {
  background-color: #f64a5f;
}

/* ABOUT */

.about {
}

.about__inner {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  margin-top: 0;
  margin-bottom: 36px;
}

.about__subtitle {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 25px;
}

.about__text {
  margin-top: 0;
  margin-bottom: 45px;
}

.about__btn {
  background-color: #f64a5f;
}

/* CARE */

.care {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(./images/care.jpg);
  background-size: cover;
}

.care__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.care__title {
  margin: 0;
}

.care__subtitle {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #757575;
  margin-top: 0;
  margin-bottom: 45px;
}

.care__btn {
  background-color: #f64a5f;
}

/* SERVICES */

.services {
}

.services__inner {
  padding-top: 300px;
  padding-bottom: 390px;
  background-image: url(./images/services.png);
  background-repeat: no-repeat;
  background-position: -10% 0;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.services__info {
  display: flex;
  flex-direction: column;
}

.services__title {
  margin-top: 0;
  margin-bottom: 80px;
}

.services__item-title {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 16px;
}

.services__item-text {
  margin: 0;
}

.services__info {
  flex-basis: 50%;
}

/* GALLERY */
.gallery {
  background-image: url(./images/gallery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__inner {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* PRICE */

.price {
  background-image: url(./images/price.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.price__inner {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}

.price__title {
  width: 50%;
  margin-top: 0;
  margin-bottom: 50px;
  transform: translateX(100%);
}

.price__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price__item {
  width: 390px;
  height: 600px;
  background: #f64a5f;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 15px 45px 15px;
}

.price__name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.price__kind {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
}

.price__hr {
  width: 73px;
  height: 3px;
  background: #ffffff;
}

.price__count {
  font-size: 100px;
  line-height: 0.8;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-top: 30px;
}

.price__description {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 45px;
}

.price__btn {
  color: #f64a5f;
  margin-top: 35px;
}
/* testimonials */

.testimonials {
  background-image: url(./images/testimonials.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials__inner {
  padding-top: 110px;
  padding-bottom: 90px;
}

.testimonials__title {
  width: 50%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  transform: translateX(50%);
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__text {
  width: 842px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  margin-top: 35px;
  margin-bottom: 40px;
}

.testimonials__name {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #f64a5f;
}

/* FOOTER */

.instagram {
  background-image: url(./images/icons/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.whatsapp {
  background-image: url(./images/icons/whatsapp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.telegram {
  background-image: url(./images/icons/telegram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.footer {
}

.footer__logo {
  font-family: "PT Serif", serif;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 45px;
}

.footer__logosvg {
  width: 60px;
}

.footer__text {
  font-family: "Poppins", sans-serif;
  color: #1d1d1d;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0px;
}

.footer__phonenumber {
  color: #f64a5f;
  padding-left: 10px;
}

.footer__link-phone {
  text-decoration: none;
  color: #f64a5f;
}

.footer__socialnets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 200px;
  width: 100%;
}

.footer__socialnet {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #f64a5f;
  cursor: pointer;
  transition: all 0.5s ease;
}

.footer__socialnet:hover {
  background-color: #000;
}

.footer__socialnet:active {
  transform: scale(0.9);
}

.footer__contacts {
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0px;
}

.footer__contact {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__items {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer__item {
  max-width: 390px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.footer__item-middle {
  border-left: 1px solid rgba(67, 79, 83, 0.3);
  border-right: 1px solid rgba(67, 79, 83, 0.3);
}

.footer__rights {
  background: #000000;
  height: 75px;
}

.footer__rights-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
}

.footer__allright {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #bdbdbd;
}
